.easycal,.easycal table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0px;
}

.easycal{
	border: 1px solid #CCC;
}

.easycal table.ec-head-table{
	border-bottom: 1px solid #CCC;

}

.easycal table.ec-head-table tr{
	height: 20px;
	
}

.easycal table.ec-head-table tr td{
	border-left: 1px solid #CCC;
	text-align: center;
}

.easycal table.ec-head-table tr td:FIRST-CHILD{
	border-left: 0;
	width: 50px;
}

.easycal table.ec-time-grid-table .table-cell{
	height: 10px;
	padding-top: 0
	px;
	padding-bottom: 3px;
	max-height: 45px;
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
	text-align: center;
}

.easycal table.ec-time-grid-table tr td:FIRST-CHILD{
	width: 50px;
}

.easycal .table-cell.ec-slot{
	cursor: pointer;
}

.easycal table tr td:FIRST-CHILD .table-cell{
	border-left: 0;
	
}

.easycal table tr td .table-cell:FIRST-CHILD{
	border-top: 0;
	
}