
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>watering schedule calendar</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='easycal.css') }}">
<link href="{{ url_for('static', filename='jquerysctipttop.css') }}" rel="stylesheet" type="text/css">
	<style>
		body{ font-size: 12px; font-family: Arial; box-sizing: border-box;}

	</style>
</head>
<body>



	<div class="mycal" style="width: 300px; margin: 0px auto; "></div>


	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='dataset.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='easycal.js') }}"></script>

	<script>
		$('.mycal').easycal({
			minTime : '00:00:00',
			maxTime : '24:00:00',
			slotDuration : 60,
			startDate : '05-01-1970', // OR 31/10/2104
			dayClick : function(){
				console.log('Slot selected');
			},
			events : getEvents()
		});
	</script>

</body>
</html>