{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="jumbotron">
  <h2>Contact</h2>
  <p id="demo">Please enter as much information as you can, and we will get back to you shortly.</p>
  <br>
  <form method="post">
   <div class="form-group">
    <label class="control-label requiredField" for="title">
     First Name
     <span class="asteriskField">
      *
     </span>
    </label>
    <input class="form-control" id="title" name="title" type="text"/>
    <span class="help-block" id="hint_title">
    </span>
   </div>
   <div class="form-group">
    <label class="control-label requiredField" for="name">
     Last Name
     <span class="asteriskField">
      *
     </span>
    </label>
    <input class="form-control" id="name" name="name" type="text"/>
    <span class="help-block" id="hint_name">
    </span>
   </div>

   <div class="form-group">
    <label class="control-label " for="date_start">
     E-Mail.
     <span class="asteriskField">
      *
     </span>
    </label>
    <input class="form-control" id="date_start" name="date_start" placeholder="someone@someone.com" type="text"/>
    <span class="help-block" id="hint_name">
    </span>
   </div>
   <div class="form-group">
    <label class="control-label " for="date_end">
     Phone Number
    </label>
    <input class="form-control" id="date_end" name="date_end" placeholder="(XXX)XXX-XXXX" type="text"/>
    <div class="form-group">
     <label class="control-label requiredField" for="title"><br>
      Other Information
      </span>
     </label>
     <input class="form-control" id="title" name="title" type="text"/>
     <span class="help-block" id="hint_title">
     <br>
   </div>
   <div class="form-group">
    <div>
     <button class="btn btn-primary " name="submit" type="submit">
      Submit
     </button>
     </div>
    </div>
  </form>
</div>
{% endblock %}
