{% extends "layout.html" %}
{% block title %}Developer Resources{% endblock %}
{% block head %}
<script>
function setURL(url){
    document.getElementById('iframe').src = url;
}
</script>
{% endblock %}
{% block content %}
<div class="jumbotron">
  <h2>Developer Options</h2>
  <p class="lead">Use the WaterSpec API to keep your irrigation controller up to date with current mandated water restrictions.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Add JSON to my controller</h4>
    <p>Enter your unique ID to generate your JSON file.</p>
    <form action="#">
      <input type="text" size=20 value="" name="id" maxlength="50">
      <button class="btn btn-primary"
        type="submit"
        onclick="document.getElementById('iframe').src='{{ url_for('data_json') }}'">
        Submit
      </button>
    </form>

    <h4>Find your unique ID.</h4>
    <iframe frameborder="0" id="iframe" src="{{ url_for('list_page') }}" width="100%" height="500px"></iframe>
  </div>
</div>
{% endblock %}
