<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jumbotron-narrow.css') }}" rel="stylesheet">
    {% block head %}
    <title>{% block title %}{% endblock %} - WaterSpec</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        {% block navigation %}{% endblock %}
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{{ url_for('home_page') }}">Home</a></li>
            <li role="presentation"><a href="{{ url_for('dev') }}">Developer</a></li>
            <li role="presentation"><a href="{{ url_for('contact') }}">Contact</a></li>
          </ul>
        </nav>
        <img style="position: relative; top:-20px" src="{{ url_for('static', filename='waterspec_logo.png') }}" width="50%" height="50%">
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
        {% block footer %}
        &copy; 2015 <a href="http://domain.invalid/">WaterSpec</a>
        {% endblock %}
      </div>
    </div>
  </body>
</html>
