<html>
<head>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="//cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.8/js/dataTables.bootstrap.min.js">
<script src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div class="content">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-8 col-sm-6 col-xs-12">
    <table id="list" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Location</th>
          <th>ZIP</th>
          <th>Type</th>
          <th>Polarity</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
          <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.zip }}</td>
            <td>{{ d.type }}</td>
            <td>{{ d.polarity }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
   </div>
  </div>
 </div>
</div>
<script>
$(document).ready(function() {
    $('#list').DataTable();
} );
</script>
</body>
</html>
