{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="//js.arcgis.com/3.14/dijit/themes/claro/claro.css">
<link rel="stylesheet" href="//js.arcgis.com/3.14/esri/css/esri.css">
<style>
   #map {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      border-style: solid;
      border-width: 1px;
   }
   #search {
      display: block;
      //position: absolute;
      //z-index: 2;
      //top: 20px;
      //left: 74px;
   }
   .map .container .layersDiv {
      left: -110px;
   }
</style>
<script src="//js.arcgis.com/3.14/"></script>
<script>
   require([
     "esri/map", "esri/dijit/Search", "esri/layers/FeatureLayer", "esri/InfoTemplate", "dojo/domReady!"
   ], function (Map, Search, FeatureLayer, InfoTemplate) {
      var map = new Map("map", {
         basemap: "gray",
         center: [-97, 38], // lon, lat
         zoom: 3
      });

      var s = new Search({
         enableButtonMode: true, //this enables the search widget to display as a single button
         enableLabel: false,
         enableInfoWindow: true,
         showInfoWindowOnSelect: false,
         expanded: true,
         map: map
      }, "search");

      // disable the default Estr Geocode search
      //s.get("sources");
      var sources = [];

      sources.push({
         featureLayer: new FeatureLayer("//services.arcgis.com/P3ePLMYs2RVChkJx/arcgis/rest/services/USA_ZIP_Codes/FeatureServer/0"),
         searchFields: ["ZIP"],
         displayField: "ZIP",
         exactMatch: false,
         outFields: ["ZIP"],
         name: "ZIP Code",
         placeholder: "ZIP Code",
         maxResults: 6,
         maxSuggestions: 6,

         //Create an InfoTemplate and include three fields
         infoTemplate: new InfoTemplate("ZIP Code"),
         enableSuggestions: true,
         minCharacters: 0
      });

      //Set the sources above to the search widget
      s.set("sources", sources);

      s.startup();

      s.on('select-result', function(e) {
         console.log ('selected result', e);
         dojo.byId("zip").value = e.result.name;
         dojo.removeClass("zip-button", "disabled");
      });


   });
</script>
{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>Lookup Location</h1>
  <p class="lead">Use WaterSpec to centralize the lookup and crowd-source the entry of water restriction data to integrate into water scheduling programs.</p>
  <center>
    <div id="map"></div>
    <div id="search"></div>
  </center>
  <br>

  <form action="view">
    <input id="zip" type="hidden" value="" name="zip" maxlength="5">
    <button id="zip-button" class="btn btn-primary disabled" type="submit">Submit</button>
  </form>
</div>
{% endblock %}
