{% extends "layout.html" %}
{% block title %}New{% endblock %}
{% block content %}
<div class="jumbotron">
  <h2>Water Restriction Entry</h2>
  <p class="lead"><!DOCTYPE html>
  <form method="post">
   <div class="form-group">
    <label class="control-label requiredField" for="name">
     Name
     <span class="asteriskField">
      *
     </span>
    </label>
    <input class="form-control" id="name" name="name" type="text"/>
    <span class="help-block" id="hint_name">
     Give this watering schedule a descriptive name. For example, Residential Group A.
    </span>
   </div>
   <div class="form-group">
    <label class="control-label requiredField" for="zip">
     Zip Code
     <span class="asteriskField">
      *
     </span>
    </label>
    <input class="form-control" id="zip" name="zip" type="text"/>
   </div>
   <div class="form-group">
    <label class="control-label requiredField" for="type">
     Type
     <span class="asteriskField">
      *
     </span>
    </label>
    <select class="select form-control" id="type" name="type">
     <option value="Residential">
      Residential
     </option>
     <option value="Commercial">
      Commercial
     </option>
    </select>
   </div>
   <div class="form-group">
    <label class="control-label " for="date_start">
     Enforcement Start Date
    </label>
    <input class="form-control" id="date_start" name="date_start" placeholder="MM/DD/YYYY" type="text"/>
    <span class="help-block" id="hint_name">
     Some watering restrictions are enforced only during summer or winter months.
    </span>
   </div>
   <div class="form-group">
    <label class="control-label " for="date_end">
     Enforcement End Date
    </label>
    <input class="form-control" id="date_end" name="date_end" placeholder="MM/DD/YYYY" type="text"/>
   </div>
   <div class="form-group">
    <label class="control-label requiredField" for="url">
     Reference URL
     <span class="asteriskField">
      *
     </span>
    </label>
    <input class="form-control" id="url" name="url" placeholder="http://city.gov/water/" type="text"/>
    <span class="help-block" id="hint_url">
     Include a link to the source of this data
    </span>
   </div>
   <div class="form-group" id="div_address_parity">
    <label class="control-label " for="address_parity">
     Address
    </label>
    <div class="">
     <label class="checkbox-inline">
      <input name="address_parity" type="checkbox" value="Even"/>
      Even
     </label>
     <label class="checkbox-inline">
      <input name="address_parity" type="checkbox" value="Odd"/>
      Odd
     </label>
    </div>
   </div>
   <div class="form-group" id="div_dow_allowed">
    <label class="control-label " for="dow_allowed">
     Allowed Day(s) of the Week
    </label>
    <div class="">
     <label class="checkbox-inline">
      <input name="dow_allowed" type="checkbox" value="Monday"/>
      Monday
     </label>
     <label class="checkbox-inline">
      <input name="dow_allowed" type="checkbox" value="Tuesday"/>
      Tuesday
     </label>
     <label class="checkbox-inline">
      <input name="dow_allowed" type="checkbox" value="Wednesday"/>
      Wednesday
     </label>
     <label class="checkbox-inline">
      <input name="dow_allowed" type="checkbox" value="Thursday"/>
      Thursday
     </label>
     <label class="checkbox-inline">
      <input name="dow_allowed" type="checkbox" value="Friday"/>
      Friday
     </label>
     <label class="checkbox-inline">
      <input name="dow_allowed" type="checkbox" value="Saturday"/>
      Saturday
     </label>
     <label class="checkbox-inline">
      <input name="dow_allowed" type="checkbox" value="Sunday"/>
      Sunday
     </label>
     <span class="help-block" id="hint_dow_allowed">
      Select the days of the week that watering is allowed
     </span>
    </div>
   </div>
   <div class="form-group">
    <label class="control-label " for="hour_allowed_start">
     Allowed Start Hour
    </label>
    <select class="select form-control" id="hour_allowed_start" name="hour_allowed_start">
     <option value="12:00 AM">
      12:00 AM
     </option>
     <option value="1:00 AM">
      1:00 AM
     </option>
     <option value="2:00 AM">
      2:00 AM
     </option>
    </select>
   </div>
   <div class="form-group">
    <label class="control-label " for="hour_allowed_end">
     Allowed End Hour
    </label>
    <select class="select form-control" id="hour_allowed_end" name="hour_allowed_end">
     <option value="8:00 AM">
      8:00 AM
     </option>
     <option value="9:00 AM">
      9:00 AM
     </option>
     <option value="10:00 AM">
      10:00 AM
     </option>
    </select>
   </div>
   <div class="form-group">
    <label class="control-label " for="duration">
     Allowed Duration
    </label>
    <input class="form-control" id="duration" name="duration" placeholder="5 min" type="text"/>
    <span class="help-block" id="hint_duration">
     Enter the allowed watering time in minutes.
    </span>
   </div>
   <div class="form-group">
    <div>
     <button class="btn btn-primary " name="submit" type="submit">
      Submit
     </button>
    </div>
   </div>
  </form>
</div>
{% endblock %}

