{% extends "layout.html" %}
{% block title %}Not Found{% endblock %}
{% block content %}
<div class="jumbotron">
  <h2>Sorry! Your water restrictions are not available at this time.</h2>
  <p class="lead">Please help us by entering your city's restriction data.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Don't know where to start?</h4>
    <p>Click the link below to go to your city's water restriction guidelines page.</p>
    {% if zip %}
      <a href="http://www.google.com/search?q={{zip}}+water+restrictions&btnI">City Water Restriction</a>
    {% else %}
      <a href="http://www.google.com/search?q=water+restrictions">City Water Restriction</a>
    {% endif %}
</div>

<div class="col-lg-6">
  <h4>Got your data?</h4>
  <p>Head on over to our <a href="{{ url_for ('new_page')}}">easy input page</a> to add your cities restrictions to our database!</p>
</div>
{% endblock %}
