{% extends "layout.html" %}
{% block title %}{{ data['zip'] }}Restrictions{% endblock %}
{% block head %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
.tg .tg-s6z2{text-align:center}
</style>
{% endblock %}
{% block content %}
<div class="jumbotron">
  <h2>Restriction Data</h2>
  <p class="lead"><!DOCTYPE html>
  <p id="demo">Mandated watering restriction schedule for ZIP code {{ data['zip'] }}</p>
</div>

<table class="tg" style="undefined;table-layout: fixed; width: 700px; word-wrap: break-word;">
<colgroup>
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
</colgroup>
  <tr>
    <th class="tg-s6z2">Zip Code</th>
    <th class="tg-s6z2">Residential / Business</th>
    <th class="tg-s6z2">Address Even/Odd</th>
    <th class="tg-s6z2">City URL</th>
    <th class="tg-s6z2">Start Date</th>
    <th class="tg-s6z2">Watering Minutes</th>
  </tr>
  <tr>
    <td class="tg-s6z2">{{ data['zip'] }}</td>
    <td class="tg-s6z2">{{ data['type'] }}</td>
    <td class="tg-s6z2">{{ data['parity'] }}</td>
    <td class="tg-s6z2">{{ data['url'] }}</td>
    <td class="tg-s6z2">{{ data['date_start'] }}</td>
    <td class="tg-s6z2">{{ data['duration'] }}</td>
  </tr>
</table><br>
<iframe frameborder="0" src="{{ url_for ('calendar')}}" height="400px" width="100%"></iframe>
{% endblock %}
